<div class="container">
  <input
    type="text"
    for="search-box"
    placeholder="Search for a country.."
    name="search-box"
    [(ngModel)]="searchValue"
  />
  <select>
    <option value="">Filter by</option>
    <option value="region">Region</option>
    <option value="name">Name</option>
  </select>
</div>
<div class="container">
  <div class="card-container" *ngFor="let country of countries">
    <img src="{{ country.flags.png }}" />
    <h2>{{ country.name.common }}</h2>
    <p>Population:{{ country.population }}</p>
    <p>Region:{{ country.region }}</p>
    <p>Capital:{{ country.capital }}</p>
    <a
      [routerLink]="['/details', country.name.common]"
      routerLinkActive="link-active"
      >Details</a
    >
  </div>
</div>
