<div class="containerSearch">
  <input
    type="text"
    for="search-box"
    placeholder="Search for a country.."
    name="search-box"
    [(ngModel)]="searchValue"
  />
  <select [(ngModel)]="regionValue">
    <option value="">Filter by region</option>
    <option value="Africa">Africa</option>
    <option value="Americas">Americas</option>
    <option value="Asia">Asia</option>
    <option value="Europe">Europe</option>
    <option value="Oceania">Oceania</option>
  </select>
</div>
<div class="container">
  <div
    class="card-container"
    *ngFor="let country of countries | filter : searchValue : regionValue"
    (click)="nav(country.name.common)"
  >
    <img src="{{ country.flags.png }}" />
    <h2>{{ country.name.common }}</h2>
    <p><span>Population:</span> {{ country.population }}</p>
    <p><span>Region:</span> {{ country.region }}</p>
    <p><span>Capital:</span> {{ country.capital }}</p>
  </div>
</div>
