input {
  height: 30px;
  padding-left: 25px;
  box-shadow: 5px 5px 5px gray;
  border: none;
}
.container {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  margin-top: 50px;
}
select {
  width: 200px;
  height: 30px;
  padding-left: 25px;
  background: white;
  border: none;
  box-shadow: 5px 5px 5px gray;
}
